@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic|Open+Sans);
/*font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;*/
body {
  background-color: #ecf0f1;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

#pageBody {
  padding: 5%; }

nav {
  background-color: #16a085;
  min-height: 75px;
  padding: 2% 5% 0 5%; }
  nav .logo {
    float: left; }
  nav .nav-icons {
    float: right; }
  nav .menu {
    background-color: #16a085;
    clear: both; }
    nav .menu ul {
      padding: 0;
      margin: 0; }
      nav .menu ul li {
        list-style: none;
        text-align: right;
        border-top: 1px solid white;
        padding: 15px 0; }
        nav .menu ul li a {
          text-decoration: none; }

/*#last-nav {
	border-bottom: 0px;
}*/
body * {
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif; }

h1 {
  text-align: center;
  font-size: 36px;
  /* Some tweener fallback that doesn't look awful */
  font-size: 5.4vw; }

i {
  margin: 0 20px; }

.row {
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px; }

.column {
  box-sizing: border-box;
  display: block; }

.column1 {
  border: 8px solid #3498db;
  padding: 5%; }

.column2 {
  padding: 5%; }

.personPic {
  width: 9%;
  margin: 0 auto;
  display: inline-block; }

.hidden {
  display: none; }

.red {
  background-color: red; }

.helpCallout {
  box-sizing: border-box; }

.column > h4 {
  text-decoration: underline; }

.threeThings:hover {
  cursor: pointer; }

/*IDS*/
#peopleRow {
  margin: 0 auto;
  text-align: center; }

#howToHelpTrio {
  box-sizing: border-box;
  margin: 100px auto 30px;
  text-align: center; }

#exerciseC {
  background-color: #f1c40f; }

#exercise {
  color: #f1c40f; }

#foodC {
  background-color: #e74c3c; }

#food {
  color: #e74c3c; }

#waterC {
  background-color: #9b59b6; }

#water {
  color: #9b59b6; }

#spacer {
  height: 400px; }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    background-color: blue; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 768px) {
  .column {
    display: inline-block;
    text-align: center;
    padding: 5vh 8%; }

  .column1 {
    width: 33%;
    float: right;
    display: inline-block; }

  .column2 {
    width: 66%;
    float: left; } }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  body {
    background-color: pink; } }
