@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic|Open+Sans:300,400);
/*font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;*/
body {
  background-color: #ecf0f1;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

#pageBody {
  margin-top: 100px; }

nav {
  color: white;
  background-color: #16a085;
  min-height: 75px;
  padding: 1% 5% 0 5%; }
  nav .logo h3 {
    float: left;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif; }
  nav .nav-icons {
    float: right;
    margin-top: 15px;
    border: 1px solid white;
    font-size: 24px; }
  nav .menu {
    background-color: #16a085;
    clear: both; }
    nav .menu ul {
      padding: 0;
      margin: 75px 0 0 0; }
      nav .menu ul li {
        list-style: none;
        text-align: right;
        border-top: 1px solid white;
        padding: 15px 0; }
        nav .menu ul li a {
          color: white;
          text-decoration: none; }

/*#last-nav {
	border-bottom: 0px;
}*/
body * {
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  /*font-family: 'Merriweather', serif;*/ }

h2 {
  font-size: 4vw; }

h1 {
  text-align: center;
  font-size: 36px;
  /* Some tweener fallback that doesn't look awful */
  font-size: 5.4vw; }

i {
  margin: 0 20px; }

.row {
  box-sizing: border-box;
  margin: auto;
  max-width: 900px; }

.column {
  box-sizing: border-box;
  display: block; }

.column1 {
  border: 8px solid #3498db;
  padding: 5%; }

.column2 {
  padding: 5%;
  margin-bottom: 50px; }

.personPic {
  width: 9%;
  margin: 0 auto;
  display: inline-block; }

.hidden {
  display: none; }

.red {
  background-color: red; }

.helpCallout {
  box-sizing: border-box; }

.column > h4 {
  padding: 15px;
  border: 1px solid; }

.threeThings:hover {
  cursor: pointer; }

/*IDS*/
#peopleRow {
  margin: 0 auto;
  text-align: center; }

#kidneys4you {
  padding: 5%; }

#howToHelpTrio {
  box-sizing: border-box;
  margin: 60px auto 30px;
  text-align: center; }

#howToHelpFocus {
  clear: both; }

#exerciseC {
  background-color: #f1c40f; }

#exercise {
  color: #f1c40f; }

#foodC {
  background-color: #e74c3c; }

#food {
  color: #e74c3c; }

#waterC {
  background-color: #9b59b6; }

#water {
  color: #9b59b6; }

#spacer {
  height: 400px; }

#facts {
  clear: both;
  width: 100%;
  padding: 5%;
  font-weight: 300;
  color: white; }
  #facts ul {
    list-style: none;
    text-align: center;
    margin: auto;
    max-width: 800px; }
    #facts ul li {
      font-size: 3vw;
      margin: 15px; }

#games {
  color: #e74c3c;
  height: 400px; }

#trivia {
  color: #9b59b6;
  height: 400px; }

#footer {
  height: 50px;
  background-color: #f1c40f; }

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    background-color: blue; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 768px) {
  nav {
    padding: 1% 5%;
    /*		background-color: $red;*/
    /*		.hidden {
    			display: inline-block;
    			float: right;
    		}*/ }
    nav .logo {
      float: left; }
    nav .nav-icons {
      display: none; }
    nav #nav-menu {
      display: inline-block;
      float: right; }
    nav .menu {
      clear: none; }
      nav .menu ul {
        margin-top: 0; }
        nav .menu ul li {
          margin: 0 20px;
          border: none;
          display: inline-block; }

  .column {
    /*		width: 33%;*/
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin: 0 30px;
    /*		img {
    			width: 100%;
    		}*/ }

  .column1 {
    width: 33%;
    float: right;
    display: inline-block; }

  .column2 {
    width: 66%;
    float: left; } }
#facts {
  background-color: #3498db;
  font-size: 2.2vw; }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  body {
    background-color: pink; } }
